@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

* {
    font-family: 'Poppins', 'sans-serif';
}

.hnavs a.active,
.hnavs a.active h1 {
    background: #111111;
    color: #E6E6E6
}

.hnavs a h1 {
    background: #E6E6E6;
}

.hnavs a:hover,
.hnavs a:hover h1 {
    background: #ebebeb;
    transition: .3s ease;
}

::-webkit-scrollbar {
    width: .3rem;
    height: .4rem;
}

::-webkit-scrollbar-thumb {
    background: #474747;
    border-radius: 1rem
}

@tailwind base;
@tailwind components;
@tailwind utilities;