/* @import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap'); */
/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Light Theme (default) */
:root {
  --bg-color: white;
  --text-color: #000000;
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #212121;
    --hover-bg-color: #323232;
    --text-color: #ffffff;
  }
}

.light {
  --bg-color: white;
  --text-color: #000000;
}


* {
  font-family: 'Raleway', 'sans-serif';
}

.hnavs a {
  color: var(--text-color);
}

.hnavs a.active {
  background: var(--bg-color);
  color: var(--text-color);
}

/* .hnavs a h1 {
  background: white;
} */

.hnavs a:hover {
  background: var(--hover-bg-color);
  transition: .3s ease;
}

.newheader a.active {
  color: var(--text-color);
  font-weight: 500;
}

.newheader a {
  color: #8f8f96;
  font-weight: 400;
}

.newheader a:hover {
  color: var(--text-color);
  transition: .3s ease;
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: .3rem;
  height: .4rem;
}

::-webkit-scrollbar-thumb {
  background: #474747;
  border-radius: 1rem
}

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;